@use './partials/variables' as *;

@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: $text-color;
  background-color: lighten($color: $primary-color, $amount: 30%);
}

.container{
  width: 80%;
  margin: 0 auto;
}